*{
  margin:0;
  box-sizing: border-box;
}

body{
  min-height: 100%;
  background: red;
  text-align: center;
  color: aliceblue;
  transition: 0.3s;
  font-size: 18px;
  padding: 5%;
}
wrapper{
  height:100%;
  padding:50px;
}
.maincontent{
  display:flex;
  text-align: center;
  margin: 100px auto 20px auto;
  flex-flow: row;
  justify-content: center;
}
label{
  font-weight: 600;
}
.maincontent input{
  height:50px;
  width: 250px;
  background-color: rgb(216, 229, 204);
  border: 2px solid;
  border-radius: 50px;
  justify-content: space-between;
  margin:10px;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 10px 50px 1px #fff;
}
button{
  background-color: antiquewhite;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 15px 30px;
  outline: none;
  font-weight: 100;
  box-shadow: 0 2px 50px 10px #491e1e;
  
}
button:hover{
  background-color:black;
  border: 2px solid #fff;
  color: antiquewhite;
}
.result{
  width: 50%;
  margin: 50px auto;
}
.result h1{
  font-family: 'Courier New', Courier, monospace;
  padding: 10px;
}
.divider{
  width:200px;
  height:2px;
  background-color: #fff;
  text-align:center;
  margin:10px top;
}